<h2>Base de datos clientes</h2>
<!-- <p-toast></p-toast> -->
  <p-toolbar styleClass="mb-4 gap-2">
    <div class="p-toolbar-group-start">
        <p-button class="btn" label="Nuevo registro" icon="pi pi-plus"></p-button>
        <button
        pButton
        pRipple
        icon="pi pi-trash"
        class="p-button-danger"
      ></button>
    </div>
    <div class="p-toolbar-group-end">
        <button pButton pRipple label="Importar" icon="pi pi-plus" class="p-button-help btn"></button>
        <p-button label="Exportar" icon="pi pi-upload" styleClass="p-button-success"></p-button>
    </div>
</p-toolbar>

<p-table #dt [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
         [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Administrador de clientes</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="price">Producto <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="category">Categoria <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rating">Opinion <p-sortIcon field="rating"></p-sortIcon></th>
                <th pSortableColumn="inventoryStatus">Estado <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.name}}</td>
                <td>{{product.price | currency:'USD'}}</td>
                <td>{{product.category}}</td>
                <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" ></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
            </div>
        </ng-template>
    </p-table>


