

.card-content {
  width: 100%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--surface-a);
  border-radius: 4px;
}

.form-content {
  margin-bottom: 70px;
}

.title {
  text-align: center;
}

.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgba(0, 101, 253, 0.158);
  background-color: var(--primary-color);
  padding: 0.3em;
  width: 100%;
  color: white;
}

.div-1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.div-2 {
  margin-left: 6%;
}

.form {
  display: flex;
}

.input {
  margin-bottom: 20px;
}

.inputSeletc {
  border: 1px solid rgba(0, 0, 0, 0.205);
  border-radius: 3px;
  height: 38px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}


.btn {
  margin-bottom: 20px;
  margin-right: 10px;
}

.alert {
  color: rgb(230, 66, 66);
  margin-left: 6%
}

label{
  color: rgb(103, 103, 253);
}


/*Media Queris*/
 @media only screen and (min-width: 550px) {
  .card-content {
    width: 98%;
    padding: 10px;
  }
  .div-1 {
    flex-direction: row;

  }
}


@media only screen and (min-width: 768px) {
  .card-content {
    width: 80%;
  }
}


@media only screen and (min-width: 1024px) {
  .card-content {
    width: 60%;
  }
}
