<p-toast></p-toast>
  <h2 class="title">Datos del cliente</h2>
  <div class="card-content" header="Datos del cliente">
    <div class="card">
      <div class="div-1">
        <div>
          <h5>{{client?.name}}</h5>
          <h5>{{client?.documentType}} - {{client?.numberDocument}}</h5>
        </div>
        <div>
          <h5> Correo: {{client?.email}}</h5>
          <h5> Contacto: {{client?.phone}}</h5>
        </div>
        <div>
          <h5>{{client?.vehicleBrand}}</h5>
          <h5>{{client?.vehicle}}</h5>
          <h5>Placa: {{client?.plate | uppercase}}</h5>
        </div>
       </div>
       <div class="div-2">
        <h4>Trabajos realizados</h4>
        <button class="btn" pButton (click)="showBasicDialog()" icon="pi pi-car" label="Nuevo trabajo"></button>
        <p-dialog class="dialog" header="Ingresa los datos del trabajo realizado" [(visible)]="displayBasic2" [baseZIndex]="10000">

       <form class="form-content" [formGroup]="myForm" (ngSubmit)="submit()">
        <div class=" p-fluid p-grid p-formgrid">
          <div class="p-field input">
            <label>Fecha</label>
            <p-calendar formControlName="date"></p-calendar>
          </div>

          <div class="p-field input">
          <label>Proximo mantenimiento</label>
            <p-calendar class="calendar"  formControlName="nextDate"></p-calendar>
          </div>

          <label for="order">Nº de orden</label>
          <div class="p-field input">
            <input pInputText  id="order" type="number" formControlName="numberOrder">
            <div class="error" *ngIf="invalidField('numberOrder')" >
              <span  *ngIf="myForm.controls?.['numberOrder']?.errors?.['required']" > Campo Obligatorio </span>
            </div>
          </div>
          <label for="price">Valor</label>
          <div class="p-field input">
            <input pInputText id="price" type="number" formControlName="price">
            <div class="error" *ngIf="invalidField('price')" >
              <span  *ngIf="myForm.controls?.['price']?.errors?.['required']" > Campo Obligatorio </span>
            </div>
          </div>
        </div>
        <div>
          <label for="description">Describa el trabajo realizado</label>
          <div class="input">
            <textarea formControlName="description" rows="5" cols="61" pInputTextarea></textarea>
            <div class="error" *ngIf="invalidField('description')" >
              <span  *ngIf="myForm.controls?.['description']?.errors?.['required']" > Campo Obligatorio </span>
            </div>
          </div>
        </div>
      </form>

      <ng-template pTemplate="footer">
          <p-button (click)="submit()" icon="pi pi-check" (click)="displayBasic2=false" label="Guardar" class="p-button-text"></p-button>
          <p-button (click)="cancel()" icon="pi pi-times" (click)="displayBasic2=false" label="Cancelar"></p-button>
      </ng-template>
  </p-dialog>

</div>
<p-accordion>
  <p-accordionTab *ngFor="let item of jobs"  header="{{item?.date | date}}" >
    <div>
      <h3>Orden:</h3>
      <span>{{item.numberOrder}}</span>
    </div>
    <div>
      <h3>Precio:</h3>
      <span>{{item.price}}</span>
    </div>
    <div>
      <h3>Trabajo realizado:</h3>
      <span>{{item.description}}</span>
    </div>
  </p-accordionTab>
</p-accordion>
<ng-template  #notJobs>
  <h5 class="alert">Este cliente aun no tiene trabajos</h5>
</ng-template>
</div>

</div>
