

.card-content {
  width: 98%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--surface-a);
  padding: 1em;
  border-radius: 4px;
}

.title {
  text-align: center;
}

.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.div-1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.div-2 {
  margin-left: 6%;
}

.form {
  display: flex;
}

.input {
  margin-bottom: 20px;
}

.btn {
  margin-bottom: 20px;
}

.alert {
  color: rgb(230, 66, 66);
  margin-left: 6%
}


/*Media Queris*/
@media only screen and (min-width: 550px) {
  .card-content {
    width: 98%;
    padding: 10px;
  }
  .div-1 {
    flex-direction: row;

  }
}

@media only screen and (min-width: 768px) {
  .card-content {
    width: 80%;
  }
}


@media only screen and (min-width: 1024px) {
  .card-content {
    width: 40%;
  }
}
