.alert {
  color: red;
  font-weight: bold;
}

.warning {
  color: orange;
  font-weight: bold;
}

.normal {
  color: rgb(29, 190, 69);
  font-weight: bold;
}



/* :host ::ng-deep p-tag {
  font-size: 1.5rem;
  background-color: yellowgreen;
} */
