
<div  [ngSwitch]="jobs?.typeJobs" >

  <p [ngClass]="{'alert': daysDiff <= 30, 'warning': daysDiff >= 30, 'normal': daysDiff > 60}" *ngSwitchCase="'Mantenimiento'" ><i class="pi pi-wrench"></i> Proximo {{jobs?.typeJobs}} en {{ daysDiff }} dias</p>

  <p [ngClass]="{'alert': daysDiff <= 30, 'warning': daysDiff >= 30, 'normal': daysDiff > 60}" *ngSwitchCase="'Cambio de filtro'" ><i class="pi pi-sync" ></i> Proximo {{jobs?.typeJobs}} en {{ daysDiff }} dias</p>

  <p [ngClass]="{'alert': daysDiff <= 30, 'warning': daysDiff >= 30, 'normal': daysDiff > 60}" *ngSwitchCase="'Cambio de evaporador'" ><i class="pi pi-sync" ></i> Proximo {{jobs?.typeJobs}} en {{ daysDiff }} dias</p>

  <p [ngClass]="{'alert': daysDiff <= 30, 'warning': daysDiff >= 30, 'normal': daysDiff > 60}" *ngSwitchCase="'Cambio de condensador'" ><i class="pi pi-sync" ></i> Proximo {{jobs?.typeJobs}} en {{ daysDiff }} dias</p>

  <p [ngClass]="{'alert': daysDiff <= 30, 'warning': daysDiff >= 30, 'normal': daysDiff > 60}" *ngSwitchCase="'Cambio de compresor'" ><i class="pi pi-sync" ></i> Proximo {{jobs?.typeJobs}} en {{ daysDiff }} dias</p>

  <p [ngClass]="{'alert': daysDiff <= 30, 'warning': daysDiff >= 30, 'normal': daysDiff > 60}" *ngSwitchCase="'Nivelacion'" ><i class="pi pi-sync" ></i> Proximo {{jobs?.typeJobs}} en {{ daysDiff }} dias</p>

  <p [ngClass]="{'alert': daysDiff <= 30, 'warning': daysDiff >= 30, 'normal': daysDiff > 60}" *ngSwitchCase="'Carga'" ><i class="pi pi-sync" ></i> Proximo {{jobs?.typeJobs}} en {{ daysDiff }} dias</p>

  <p *ngSwitchCase="'Otros'"><i class="pi pi-car" ></i> No hay trabajos pendientes por realizar</p>

</div>

<!-- <p [ngClass]="{'alert': daysDiff <= 30, 'warning': daysDiff >= 30, 'normal': daysDiff > 60}" >Faltan: {{ daysDiff }} dias para el proximo {{jobs?.typeJobs}}</p> -->
