<div class="title">
  <h1>Estadisticas</h1>
</div>

<!-- <div class="result" *ngIf="result >= 1 else nofound">

</div>
<ng-template  #nofound >
  <h4 class="noresult">No hay datos para mostrar</h4>
</ng-template> -->

<div class="card">
  <p-table [value]="jobs" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th>Cliente</th>
              <th>Placa</th>
              <th>Modelo</th>
              <th>Vehiculo</th>
              <th>Trabajo</th>
              <th>Estado</th>
              <!-- <th>Quantity</th> -->
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-jobs>
          <tr >
              <td>{{jobs?.name}}</td>
              <td>{{jobs?.plate}}</td>
              <td>{{jobs?.vehicle}}</td>
              <td>{{jobs?.vehicleBrand}}</td>
              <td>{{jobs?.typeJobs}} - {{jobs?.description}}</td>
              <td> <app-next-date [jobs]="jobs"  [nextDate]="jobs?.nextDate" ></app-next-date> </td>

              <!-- <td>
                  <div [ngClass]="{'outofstock': product.quantity === 0, 'lowstock': (product.quantity > 0 && product.quantity < 10),'instock': product.quantity > 10}">
                      {{product.quantity}}
                  </div>
              </td> -->
          </tr>
      </ng-template>
  </p-table>
</div>




 <!-- <form [formGroup]="myForm" (ngSubmit)="submit()">

  <div class="container-select">
    <div>
      <label for="year">Selecciona un año</label>
      <div>
        <select id="year" class="select" formControlName="year">
          <option *ngFor="let item of years" [value]="item.year">{{item.year}}</option>
        </select>
        <div class="error" *ngIf="invalidField('year')" >
          <span  *ngIf="myForm.controls?.['year']?.errors?.['required']" > Campo obligatorio </span>
        </div>
      </div>
    </div>
    <div >
      <label for="month">Selecciona un mes</label>
      <div>
        <select id="month" class="select" formControlName="month">
          <option *ngFor="let item of months" [value]="item?.month">{{item?.month}}</option>
       </select>
       <div class="error" *ngIf="invalidField('month')" >
        <span  *ngIf="myForm.controls?.['month']?.errors?.['required']" > Campo obligatorio </span>
      </div>
      </div>
    </div>
    <div >
      <label for="brand">Selecciona una marca</label>
      <div>
        <select id="month" class="select" formControlName="brand">
          <option *ngFor="let item of brands" [value]="item?.vehicleBrand">{{item?.vehicleBrand}}</option>
       </select>
       <div class="error" *ngIf="invalidField('brand')" >
        <span  *ngIf="myForm.controls?.['brand']?.errors?.['required']" > Campo obligatorio </span>
      </div>
      </div>
    </div>
  </div>
  <div class="container_btn"><p-button class="btn" (click)="submit()" label="Enviar"></p-button></div>

</form> -->
