<div>
  <h1>Estadisticas</h1>
</div>

<div>
  <p >{{year}}</p>
  <p>{{month}}</p>
  <p>{{brand}}</p>

  <p>Datos: {{result}}</p>

</div>

<form [formGroup]="myForm" (ngSubmit)="submit()">

  <div class="container-select">
    <div>
      <label for="year">Selecciona un año</label>
      <div>
        <select id="year" class="select" formControlName="year">
          <option *ngFor="let item of years" [value]="item.year">{{item.year}}</option>
        </select>
      </div>
    </div>
    <div >
      <label for="month">Selecciona un mes</label>
      <div>
        <select id="month" class="select" formControlName="month">
          <option *ngFor="let item of months" [value]="item?.month">{{item?.month}}</option>
       </select>
      </div>
    </div>
    <div >
      <label for="brand">Selecciona una marca</label>
      <div>
        <select id="month" class="select" formControlName="brand">
          <option *ngFor="let item of brands" [value]="item?.vehicleBrand">{{item?.vehicleBrand}}</option>
       </select>
      </div>
    </div>
  </div>
  <div class="container_btn"><p-button class="btn" (click)="submit()" label="Enviar"></p-button></div>

</form>
