.title {
  text-align: center;
}

.result {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.noresult {
  text-align: center;
  color: red;
}

.list-car {
  list-style: none;
}

.select {
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 240px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 20px;
  border: 1px solid rgb(0, 0, 0);
}

.container-select {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.container_btn {
  width: 10%;
  margin-left: 60%;
}

.btn {
  margin-left: 53%;
}
