<p-toast></p-toast>
<div class="title">
  <h2>Ingresa los datos del cliente</h2>
</div>
<div class="form" [formGroup]="myForm" (ngSubmit)="save()" >
  <div class="mx-4">
    <label for="name">Nombres</label>
    <div class="field col">
      <input
        pInputText
        class="input"
        type="text"
        formControlName="name"
        id="name"
        >
        <div class="error" *ngIf="invalidField('name')" >
          <span  *ngIf="myForm.controls?.['name']?.errors?.['required']" > Campo Obligatorio </span>
          <span  *ngIf="myForm.controls?.['name']?.errors?.['minlength']" > Minimo 5 caracteres </span>
          <span  *ngIf="myForm.controls?.['name']?.errors?.['maxlength']" > Maximo 50 caracteres </span>
        </div>
    </div>
    <label>Tipo de Documento</label>
    <div class="field col">
      <select  class="input" formControlName="documentType">
        <option value="CC">Cedula de ciudadania</option>
        <option value="NIT">NIT</option>
      </select>
      <!-- <p-dropdown [options]="cities?.name" formControlName="documentType" optionLabel="name"></p-dropdown> -->
      <div class="error" *ngIf="invalidField('documentType')" >
        <span  *ngIf="myForm.controls?.['documentType']?.errors?.['required']" > Campo Obligatorio </span>
      </div>
    </div>

    <label for="phone">Telefono</label>
    <div class="field col">
      <input pInputText class="input" id="phone" type="number" formControlName="phone">
      <div class="error" *ngIf="invalidField('phone')" >
        <span  *ngIf="myForm.controls?.['phone']?.errors?.['required']" > Campo Obligatorio </span>
      </div>
    </div>

   <label for="vehicle">Vehiculo</label>
   <div class="field col">
    <input
    pInputText
    class="input"
    id="vehicle"
    type="text"
    formControlName="vehicle">
    <div class="error" *ngIf="invalidField('vehicle')" >
      <span  *ngIf="myForm.controls?.['vehicle']?.errors?.['required']" > Campo Obligatorio </span>
      <span  *ngIf="myForm.controls?.['vehicle']?.errors?.['maxlength']" > Maximo 20 caracteres </span>
    </div>
  </div>

  </div>

  <div class="mx-4">
    <label for="document">Numero de Documento</label>
    <div class="field col">
      <input pInputText class="input" id="document" type="number" formControlName="numberDocument">
      <div class="error" *ngIf="invalidField('numberDocument')" >
        <span  *ngIf="myForm.controls?.['numberDocument']?.errors?.['required']" > Campo Obligatorio </span>
      </div>
    </div>

    <label for="email"> Correo</label>
    <div class="field col">
      <input
          pInputText
          class="input"
          id="email"
          type="text"
          formControlName="email">
          <div class="error" *ngIf="invalidField('email')" >
            <span  *ngIf="myForm.controls?.['email']?.errors?.['required']" > Campo Obligatorio </span>
            <span  *ngIf="myForm.controls?.['email']?.errors?.['email']" > Ingrese un email valido </span>
          </div>
    </div>

    <label for="vehicleBrand">Marca del vehiculo</label>
    <div class="field col">
      <select class="input" formControlName="vehicleBrand" >
        <option *ngFor="let item of brands"  [value]="item.brand">{{item.brand}}</option>
      </select>
      <!-- <p-dropdown [options]="brands?.data?.brand" formControlName="vehicleBrand" optionLabel="brand"></p-dropdown> -->
      <div class="error" *ngIf="invalidField('vehicleBrand')" >
        <span  *ngIf="myForm.controls?.['vehicleBrand']?.errors?.['required']" > Campo Obligatorio </span>
      </div>
  </div>

    <label for="plate">Placa del vehiculo</label>
    <div class="field col">
      <input
            pInputText
            class="input plate"
            id="plate"
            type="text"
            formControlName="plate">
            <div class="error" *ngIf="invalidField('plate')" >
              <span  *ngIf="myForm.controls?.['plate']?.errors?.['required']" > Campo Obligatorio </span>
              <span  *ngIf="myForm.controls?.['plate']?.errors?.['minlength']" > Minimo 6 caracteres </span>
              <span  *ngIf="myForm.controls?.['plate']?.errors?.['maxlength']" > Maximo 6 caracteres </span>
              <span  *ngIf="myForm.controls?.['plate']?.errors?.['plateExist']" > Esta placa ya existe en la base de datos </span>
            </div>
    </div>

    <div>
      <p-button (click)="save()" label="Guardar" styleClass="p-button-warning"></p-button>
    </div>
  </div>
</div>
